<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <form action="/edit/<%=user.id%>/<%=aid%>" method="POST">
        <input type="text" placeholder="Name" value="<%=user.name%>" name="name">
        <input type="text" value=" <%=user.department%>" name="department">
        <input type="text" value="<%=user.reg%>" name="reg">
        <input type="text" value="<%=user.year%>" name="year">
        <input type="number" value="<%=user.whatsapp_number%>" name="whatsapp_number">
        <input type="number" value="<%=user.phone_number%>" name="phone_number">
        <input type="text" value="<%=user.domain_1%>" name="domain_1">
        <input type="text" value="<%=user.domain_2%>" name="domain_2">
        <button>Submit</button>
    </form>
</body>

</html>