<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>

    <script type="text/javascript">
        function exportToExcel(tableID, filename = '') {
            var downloadurl;
            var dataFileType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');

            // Specify file name
            filename = filename ? filename + '.xls' : 'export_excel_data.xls';

            // Create download link element
            downloadurl = document.createElement("a");

            document.body.appendChild(downloadurl);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTMLData], {
                    type: dataFileType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;

                // Setting the file name
                downloadurl.download = filename;

                //triggering the function
                downloadurl.click();
            }
        }

    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</head>

<body style="margin-left: 10px; margin-right: 10px;">

    <nav class="navbar">
        <h1>Admin Portal</h1>
    </nav>
    <div>

        <button style="    top: 10px;
        position: absolute;
        right: 37%;" onclick="exportToExcel('tblexportData', 'user-data')" class="btn btn-success mt-2 mb-2">Export Table
            Data To Excel File</button>
    </div>
    <form style="display: inline; float: inline-end;" action="/logout">
        <button style="top: 10px;
        right: 0;
        position: absolute;">logout</button>
    </form>
    <div>
        <div class="container"></div>
        <table border="2px" id="tblexportData" class="table table-hover table-bordered">
            <thead>
                <td>Name</td>
                <td>Email</td>
                <td>Domain1 : Day</td>
                <td>Domain1 : Time</td>
                <td>Domain2 :Day</td>
                <td>Domain2: Time</td>
                <td>Domain 1</td>
                <td>Domain 2</td>
                <td>View result</td>
                <td>Phone number</td>
                <td>Linkedin</td>
                <td>Edit</td>
                <td>Delete</td>
                <td>Domain1</td>
                <td>Domain1 result</td>
                <td>Domain2 </td>
                <td>Domain2 results</td>
                <td>Domain 1 Exam Result</td>
                <td>Domain 2 Exam Result</td>
            </thead>
            <tbody>
                <%for(let r of user){%>
                    <tr>
                        <td>
                            <%=r.name%>
                        </td>
                        <td>
                            <%=r.email%>
                        </td>
                        <td>
                            <%=r.day%>
                        </td>
                        <td>
                            <%=r.time%>
                        </td>
                        <td>
                            <%=r.day1%>
                        </td>
                        <td>
                            <%=r.time1%>
                        </td>

                        <td>
                            <%=r.domain_1%>
                        </td>
                        <td>
                            <%=r.domain_2%>
                        </td>
                        <td><a href="/crt/<%=r._id%>/<%=r.domain_1%>">
                                <%=r.domain_1%>
                            </a>
                            <a href="/crt/<%=r._id%>/<%=r.domain_2%>">
                                <%=r.domain_2%>
                            </a>
                        </td>
                        <td>
                            <%=r.phone_number%>
                                <br>
                                <%=r.whatsapp_number%>
                        </td>
                        <td>
                            <a href="<%=r.linkedin%>">
                                <%=r.linkedin%>
                            </a>
                        </td>

                        <td>
                            <form action="/edit/<%=r._id%>/<%=id%>" method="GET">
                                <button class="btn btn-warning btn-sm">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/delete/<%=r._id%>/<%=id%>" method="POST">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="/selection/<%=r.id%>/<%=id%>" method="POST">
                                <select name="selection_level">
                                    <option value="level2">Applied</option>
                                    <option value="Passed Exam">Passed Exam</option>
                                    <option value="Interview">Interview</option>
                                    <option value="not selected">Not Selected</option>
                                </select>
                                <button class="btn btn-primary btn-sm mt-2">Submit</button>
                            </form>
                        </td>
                        <td>
                            <%=r.selection_level%>
                        </td>
                        <td>
                            <form action="/selection1/<%=r.id%>/<%=id%>" method="POST">
                                <select name="selection_level1">
                                    <option value="level2">Applied</option>
                                    <option value="Passed Exam">Passed Exam</option>
                                    <option value="Interview">Interview</option>
                                    <option value="not selected">Not Selected</option>
                                </select>
                                <button class="btn btn-primary btn-sm mt-2">Submit</button>
                            </form>
                        </td>
                        <td>
                            <%=r.selection_level1%>
                        </td>
                        <td><a href="/crt/<%=r._id%>/<%=r.domain_1%>?">Result</a></td>
                        <td><a href="/crt/<%=r._id%>/<%=r.domain_2%>?">Result</a></td>

                    </tr>


                    <%}%>
            </tbody>
        </table>
    </div>
    <div style="border: 5px;
    border-color: green;
    border-style: dashed;">
    <h3> App Development</h3>
    <form action="/data/app_dev/<%=id%>" method="POST">
        <span>Date 1:</span>
        <input type="date" name="d1" placeholder="date1" value="<%=app_dev[0].d1%>">
        <span>Date 2:</span>
        <input type="date" name="d2" placeholder="date2" value="<%=app_dev[0].d2%>">
        <span>Date 3:</span>
        <input type="date" name="d3" placeholder="date3" value="<%=app_dev[0].d3%>">
        <span>Time 1:</span>
        <input type="time" name="t1" placeholder="time1" value="<%=app_dev[0].t1%>">
        <span>Time 2:</span>
        <input type="time" name="t2" placeholder="time2" value="<%=app_dev[0].t2%>">
        <span>Time 3:</span>
        <input type="time" name="t3" placeholder="time3" value="<%=app_dev[0].t3%>">
        <span>Time 4:</span>
        <input type="time" name="t4" placeholder="time4" value="<%=app_dev[0].t4%>">
        <span>Time 5:</span>
        <input type="time" name="t5" placeholder="time5" value="<%=app_dev[0].t5%>">
        <br>
        <span>Time 6:</span>
        <input type="time" name="t6" placeholder="time6" value="<%=app_dev[0].t6%>">
        <span>Time 7:</span>
        <input type="time" name="t7" placeholder="time7" value="<%=app_dev[0].t7%>">
        <span>Time 8:</span>
        <input type="time" name="t8" placeholder="time8" value="<%=app_dev[0].t8%>">
        <span>Time 9:</span>
        <input type="time" name="t9" placeholder="time9" value="<%=app_dev[0].t9%>">
        <button>Submit</button>
    </form>
    <h3> Corporate:</h3>
    <form action="/data/corporate/<%=id%>" method="POST">

        <input type="date" name="d1" placeholder="date1" value="<%=corporate[0].d1%>">
        <input type="date" name="d2" placeholder="date2" value="<%=corporate[0].d2%>">
        <input type="date" name="d3" placeholder="date3" value="<%=corporate[0].d3%>">
        <input type="time" name="t1" placeholder="time1" value="<%=corporate[0].t1%>">
        <input type="time" name="t2" placeholder="time2" value="<%=corporate[0].t2%>">
        <input type="time" name="t3" placeholder="time3" value="<%=corporate[0].t3%>">
        <input type="time" name="t4" placeholder="time4" value="<%=corporate[0].t4%>">
        <input type="time" name="t5" placeholder="time5" value="<%=corporate[0].t5%>">
        <input type="time" name="t6" placeholder="time6" value="<%=corporate[0].t6%>">
        <input type="time" name="t7" placeholder="time7" value="<%=corporate[0].t7%>">
        <input type="time" name="t8" placeholder="time8" value="<%=corporate[0].t8%>">
        <input type="time" name="t9" placeholder="time9" value="<%=corporate[0].t9%>">
        <button>Submit</button>
    </form>
    <h3> UI/UX Design</h3>
    <form action="/data/ui/<%=id%>" method="POST">

        <input type="date" name="d1" placeholder="date1" value="<%=ui[0].d1%>">
        <input type="date" name="d2" placeholder="date2" value="<%=ui[0].d2%>">
        <input type="date" name="d3" placeholder="date3" value="<%=ui[0].d3%>">
        <input type="time" name="t1" placeholder="time1" value="<%=ui[0].t1%>">
        <input type="time" name="t2" placeholder="time2" value="<%=ui[0].t2%>">
        <input type="time" name="t3" placeholder="time3" value="<%=ui[0].t3%>">
        <input type="time" name="t4" placeholder="time4" value="<%=ui[0].t4%>">
        <input type="time" name="t5" placeholder="time5" value="<%=ui[0].t5%>">
        <input type="time" name="t6" placeholder="time6" value="<%=ui[0].t6%>">
        <input type="time" name="t7" placeholder="time7" value="<%=ui[0].t7%>">
        <input type="time" name="t8" placeholder="time8" value="<%=ui[0].t8%>">
        <input type="time" name="t9" placeholder="time9" value="<%=ui[0].t9%>">
        <button>Submit</button>
    </form>
    <h3> Cyber Security</h3>
    <form action="/data/cyber/<%=id%>" method="POST">

        <input type="date" name="d1" placeholder="date1" value="<%=cyber[0].d1%>">
        <input type="date" name="d2" placeholder="date2" value="<%=cyber[0].d2%>">
        <input type="date" name="d3" placeholder="date3" value="<%=cyber[0].d3%>">
        <input type="time" name="t1" placeholder="time1" value="<%=cyber[0].t1%>">
        <input type="time" name="t2" placeholder="time2" value="<%=cyber[0].t2%>">
        <input type="time" name="t3" placeholder="time3" value="<%=cyber[0].t3%>">
        <input type="time" name="t4" placeholder="time4" value="<%=cyber[0].t4%>">
        <input type="time" name="t5" placeholder="time5" value="<%=cyber[0].t5%>">
        <input type="time" name="t6" placeholder="time6" value="<%=cyber[0].t6%>">
        <input type="time" name="t7" placeholder="time7" value="<%=cyber[0].t7%>">
        <input type="time" name="t8" placeholder="time8" value="<%=cyber[0].t8%>">
        <input type="time" name="t9" placeholder="time9" value="<%=cyber[0].t9%>">

        <button>Submit</button>
    </form>
    <h3> Web development :</h3>
    <form action="/data/web/<%=id%>" method="POST">

        <input type="date" name="d1" placeholder="date1" value="<%=web[0].d1%>">
        <input type="date" name="d2" placeholder="date2" value="<%=web[0].d2%>">
        <input type="date" name="d3" placeholder="date3" value="<%=web[0].d3%>">
        <input type="time" name="t1" placeholder="time1" value="<%=web[0].t1%>">
        <input type="time" name="t2" placeholder="time2" value="<%=web[0].t2%>">
        <input type="time" name="t3" placeholder="time3" value="<%=web[0].t3%>">
        <input type="time" name="t4" placeholder="time4" value="<%=web[0].t4%>">
        <input type="time" name="t5" placeholder="time5" value="<%=web[0].t5%>">
        <input type="time" name="t6" placeholder="time6" value="<%=web[0].t6%>">
        <input type="time" name="t7" placeholder="time7" value="<%=web[0].t7%>">
        <input type="time" name="t8" placeholder="time8" value="<%=web[0].t8%>">
        <input type="time" name="t9" placeholder="time9" value="<%=web[0].t9%>">
        <button>Submit</button>
    </form>
    </div></div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>

</html>